@charset "UTF-8";

body {
	margin: 0px;
	padding: 0px;
}

.reports-div {
	padding: 30px;
	width: 86.7%;
	height: 86.7%;
	position: absolute;
	top: 67px;
	left: 217px;
	background-color: #ecf7ff;
}

.reports-header label {
	font-size: 1.5rem;
}

.reports-header a {
	margin-left: 50px;
	padding: 10px;
	text-decoration: none;
	font-size: 1.2rem;
	background-color: white;
	border-radius: 8px;
	color: black;
	border: 1px solid darkgray;
}

.reports-header a:hover {
	background-color: darkgray;
	border: 1px solid darkgray;
	border: none;
	color: white;
	transition: 0.5s;
}

.reports-table {
	width: 80%;
	height: 80%;
	margin-top: 50px;
	background-color: white;
	border-radius: 10px;
	overflow: auto; scrollbar-width : none;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
		rgba(0, 0, 0, 0.19);
	scrollbar-width: none;
}

.reports-table-div {
	margin: 20px;
	width: 97%;
	height: 85%;
	border: 1px solid none;
	border-radius: 15px;
	overflow: auto;
}

.reports-table table {
	width: 100%;
}

.reports-table tr th {
	padding: 15px;
	text-align: left;
	color: white;
	font-size: 1.2rem;
	background-color: rgb(182, 182, 182);
	position: stickty;
	top: 0;
}

.reports-table tr td {
	height: 40px;
	padding: 0.5rem 1rem;
	vertical-align: top;
	border-bottom: 1px solid lightgray;
}

.reports-table tr:hover {
	background-color: #d3d3d3a8;
}

.reports-table div {
	display: inline-block;
}

.reports-table .edit a {
	padding: 2px;
	display: inline-block;
	text-decoration: none;
	background-color: white;
	border: 1px solid lightgray;
	color: #8b8b8b;
	border-radius: 5px;
	font-size: 0.1rem;
	cursor: pointer;
}

.reports-table .edit a:hover {
	color: white;
	background-color: #939393;
	transition: 0.5s;
}

.reports-table .delete a {
	padding: 2px;
	display: inline-block;
	text-decoration: none;
	background-color: white;
	border: 1px solid red;
	color: red;
	border-radius: 5px;
	font-size: 0.1rem;
	cursor: pointer;
}

.reports-table .delete a:hover {
	color: white;
	background-color: red;
	transition: 0.5s;
}