<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Setting</title>
    <link rel="stylesheet" type="text/css" th:href="@{/CSS/setting/setting.css}" />
      <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
  </head>
  <body>
   <div id="manubar"></div>
   
   <div class="setting">
   		<span>Setting </span>
   		<img th:src="@{/images/moon.png}" alt="not found" id="icon" />
   </div>
   
    <script>
	      $(function() {
	         $("#manubar").load("http://localhost:8080/manubar");
	      });
	</script>
	
	<script>
		var icon = document.getElementById("icon");
		
		icon.onClick = function(){
			document.body.classList.toggle("dark-theme");
		}
	</script>
  </body>
</html>
