@charset "UTF-8";


body{
	margin: 0px;
	padding:0px;
}

.client-list{
	width: 80%;
	height: 80%;
	position: absolute;
	top: 134px;
	left: 250px;
	border:1px solid lightgray;
	border-radius: 10px;
	background-color: white;
				overflow: auto;
	scrollbar-width: none;
}

.client-header{
	padding: 20px 30px;
	height:28px;
	position: sticky;
	top: -1px;
	background-color: white;
}

.client-list .client-header label{
	float:left;
	font-size: 1.5rem;
}

.client-table{
	  width: 100%;
}
.client-table div{
	display: inline;
}

.client-table-div{
	margin: 20px;
	border: 1px solid white;
	border-radius: 15px;
	overflow: hidden;
	  scrollbar-width: none;
}

.client-table tr th{
	padding: 15px;
	text-align:left;
	color: white;
	font-size: 1.2rem;
	background-color: rgb(182, 182, 182);
}

.client-table tr td{
	height:40px;
	padding:0.5rem 1rem;
	vertical-align:top;
		border-bottom: 1px solid lightgray;
}

.client-table tr:hover {
	background-color: #d3d3d3a8;
}
.client-table .edit a{
	padding:2px;
	background-color:white;
	border:1px solid lightgray;
	color:#8b8b8b;	
	border-radius:5px;
	font-size:0.1rem;	
	cursor: pointer;

}
.client-table .edit a:hover{
	color:white;
	background-color:#939393;
		transition: 0.5s;
}
.client-table a{
	padding:2px;
	display:inline-block;
	text-decoration:none;
	background-color:white;
	border:1px solid red;
	color:red;	
	border-radius:5px;
	font-size:0.1rem;	
	cursor: pointer;
}
.client-table a:hover{
	color:white;
	background-color:red;
	transition: 0.5s;
}
