<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Dashboard</title>

<link rel="stylesheet" type="text/css"
	th:href="@{/CSS/dashboard/dashboard.css}" />

<!-- Google PNG  -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">

<!-- Html Page Load -->
<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

<!-- Chart -->
<script type="text/javascript"
	src="https://www.gstatic.com/charts/loader.js"></script>

<!-- Department Chart -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


</head>
<body>
	<div id="manubar"></div>

	<div class="dashboard-container">
		<div class="dashboard-header">
			<label> Dashboard </label>
		</div>
		<div class="dashboard-second-container">
			<div class="emp-list-count">
				<div class="total-emp">
					<div class="emp-png">
						<i class="material-icons" style="font-size: 36px">people</i>
					</div>
					<div class="emp-count">
						<label> Total Employee </label> <label th:text="${employeeCount}"></label>
					</div>
				</div>

				<div class="total-department">
					<div class="department-png">
						<i class="material-icons" style="font-size: 36px">collections_bookmark</i>
					</div>
					<div class="department-count">
						<label> Total Department </label> <label
							th:text="${departmentCount}"></label>
					</div>
				</div>

				<div class="total-client">
					<div class="client-png">
						<i class="material-icons" style="font-size: 36px">person_add </i>
					</div>
					<div class="client-count">
						<label> Total client </label> <label th:text="${clientCount}"></label>
					</div>
				</div>

				<div class="total-project">
					<div class="project-png">
						<i class="material-icons" style="font-size: 36px">add_to_photos</i>
					</div>
					<div class="project-count">
						<label> Total projects </label> <label th:text="${projectCount}"></label>
					</div>
				</div>

				<div class="total-leaveRequest">
					<div class="leaveRequest-png">
						<i class="material-icons" style="font-size: 36px">event_available</i>
					</div>
					<div class="leaveRequest-count">
						<label> Total leaveRequest </label> <label
							th:text="${leaveRequestCount}"></label>
					</div>
				</div>
			</div>

			<div id="employeeCount" class="chartDiv">
				<label> Total Employee each Department </label>
			</div>
			<div id="genderChart" class="genderCount">
				<label>Employee Structure</label>
			</div>
		</div>
		<div class="emp-performance">
				<label> Employees Performance </label>
				<div class="performance-div">
					<table class="performance-table">
						<tr>
							<th>NAME</th>
							<th>DESIGNATION</th>
							<th>PERFORMANCE</th>
						</tr>
						<tr th:each="employees : ${employeeList}">
							<td th:text="${employees.name}"></td>
							<td th:text=${employees.role}></td>
							<td th:text="${employees.performance}"></td>
						</tr>
					</table>
				</div>
		</div>
		
		<div class="toDoList">
			<div class="toDoList-div">
				<div class="toDoList-add-div">
					<label> ToDoList </label>
					<!-- <a>Add TODO</a> -->
				</div>
				
				<h3> New Employee intro </h3>
				<p> SCHEDULED FOR 3:00 P.M. ON DAY </p>
				
				<h3>Send email to CEO</h3>
				<p>SCHEDULED FOR 4:30 P.M. ON DAY</p>
					
				<h3>Birthday Wish</h3>
				<p>SCHEDULED FOR 4:30 P.M. ON DAY</p>
				
				<h3> New Employee intro </h3>
				<p> SCHEDULED FOR 3:00 P.M. ON DAY </p>
				
				<h3>Send email to CEO</h3>
				<p>SCHEDULED FOR 4:30 P.M. ON DAY</p>
					
				<h3>Birthday Wish</h3>
				<p>SCHEDULED FOR 4:30 P.M. ON DAY</p>
				
				<h3> New Employee intro </h3>
				<p> SCHEDULED FOR 3:00 P.M. ON DAY </p>
				
				<h3>Send email to CEO</h3>
				<p>SCHEDULED FOR 4:30 P.M. ON DAY</p>
					
				<h3>Birthday Wish</h3>
				<p>SCHEDULED FOR 4:30 P.M. ON DAY</p>
				
				<h3> New Employee intro </h3>
				<p> SCHEDULED FOR 3:00 P.M. ON DAY </p>
				
				<h3>Send email to CEO</h3>
				<p>SCHEDULED FOR 4:30 P.M. ON DAY</p>
					
				<h3>Birthday Wish</h3>
				<p>SCHEDULED FOR 4:30 P.M. ON DAY</p>
					
			</div>

		</div>
		
		
	</div>

	<script th:inline="javascript">
		var data = [
		/*[# th:each="result : ${departments}"]*/
		{
			labels : /*[[${result[1]}]]*/[],
			count : /*[[${result[0]}]]*/[]
		},
		/*[/]*/
		];
		var labels = data.map(function(item) {
			return item.labels;
		});
		var counts = data.map(function(item) {
			return item.count;
		});

		var ctx = document.createElement('canvas').getContext('2d');
		var myChart = new Chart(ctx, {
			type : 'bar',
			data : {
				labels : labels,
				datasets : [ {
					label : 'Employee Counts By Department',
					data : counts,
					backgroundColor : 'rgba(54, 162, 235, 0.2)',
					borderColor : 'rgba(54, 162, 235, 1)',
					borderWidth : 1
				} ]
			},
			options : {
				scales : {
					y : {
						beginAtZero : true
					}
				}
			}
		});

		var chartContainer = document.getElementById('employeeCount');
		chartContainer.appendChild(ctx.canvas);
	</script>
	<script th:inline="javascript">
		var data = [
		/*[# th:each="result : ${genderCount}"]*/
		{
			count : /*[[${result[0]}]]*/[],
			gender : /*[[${result[1]}]]*/[]
		},
		/*[/]*/
		];

		var labels = data.map(function(item) {
			return item.gender;
		});
		var counts = data.map(function(item) {
			return item.count;
		});

		var ctx = document.createElement('canvas').getContext('2d');
		var myChart = new Chart(ctx, {
			type : 'doughnut',
			data : {
				labels : labels,
				datasets : [ {
					label : 'Employee Gender Distribution',
					data : counts,
					backgroundColor : [ 'rgba(255, 99, 132, 0.5)', // Red
					'rgba(54, 162, 235, 0.5)', // Blue
					],
					borderColor : [ 'rgba(255, 99, 132, 1)',
							'rgba(54, 162, 235, 1)', ],
					borderWidth : 1
				} ]
			},
			options : {
				cutoutPercentage : 50,
			}
		});
		var chartContainer = document.getElementById('genderChart');
		chartContainer.appendChild(ctx.canvas);
	</script>



	<script>
		$(function() {
			$("#manubar").load("http://localhost:8080/manubar");
		});
	</script>
</body>
</html>
