@charset "UTF-8";

body {
	background-color: #dbdbdb99;
	font-family: Times New Roman;
}

.first-title {
	font-size: 1.7rem;
	text-align: center;
}

.second-title {
	font-size: 1.2rem;
	text-align: center;
}

.notice {
	font-size: 1.2rem;
	text-align: center;
	color: red;
}

.notice-logout {
	font-size: 1.2rem;
	text-align: center;
	color: blue;
}

.container-table{
	margin: 80px auto;
	padding: 50px;
	width: 25%;
	border-radius: 10px;
	background-color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
		rgba(0, 0, 0, 0.19);
}

.container-table td {
	padding: 10px;
}

.container-table tr {
	font-size: 1.2rem;
}

.container-table tr td input {
	padding: 16px;
	width: 90%;
	border: 1px solid lightgray;
	border-radius: 5px;
	font-size: 1rem;
}

.container-table tr td label{
	display: block;
	margin-bottom: 10px;
}

a {
	text-decoration: none;
	font-size: 1.3rem;
}

a:hover {
	color: blue;
}

button {
	padding: 12px;
	display: block;
	float: right;
	background-color: white;
	border: 1px solid lightgray;
	border-radius: 5px;
	font-size: 1.3rem;
	font-family: Times New Roman;
}

button:hover {
	border: 1px solid blue;
	color: blue;
	cursor: pointer;
	transition: 0.2s;
}