<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Clients</title>
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/CSS/clients/clients.css}" />
  </head>
  <body>
   <div id="cypeople"></div>
   
      	<div class="clients-content">
	      <ul>
	        <li><a th:href="@{/add-clients}"> Add Clients </a></li>
	        <li><a th:href="@{/clients-list}"> Clients List </a></li>
	      </ul>
	   </div>
	   
    <script>
	      $(function() {
	         $("#cypeople").load("http://localhost:8080/cypeople");
	      });
	</script>
  </body>
</html>
