<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>CyPeople</title>
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/CSS/cypeople.css}" />
    
  </head>
  <body>

   <div id="header"></div>
   <div id="sidebar"></div>
   
    
	    <script>
			$(function() {
				$("#header").load("http://localhost:8080/header");
				});
			
			$(function() {
				$("#sidebar").load("http://localhost:8080/sidebar");
				});
			
	   	</script>
  </body>
</html>
