<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title> Header </title>
<link rel="stylesheet" type="text/css" th:href="@{/CSS/header.css}">
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>

</head>
<body>
<!-- Navbar  -->
    <div class="navbar">
      <a href="/dashboard"> CyPeople </a>
      <div class="search-container">

	    <span th:text="${username}"></span>
	    <span th:text="${userAuthority}"></span>
	    
        <form action="#" th:action="@{logout}" method="post">
        	<input type="submit" value="Logout">
        </form>
      </div>
    </div>
</body>
</html>