<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Login</title>
<link rel="stylesheet" type="text/css" th:href="@{/CSS/login.css}">

</head>
<body>
	<div class="main-container">
		<form action="#" th:action="@{/login}" method="POST">
			<table class="container-table">
				<tr>
					<td class="first-title" >Sign in to CyPeople</td>
				</tr>
				<tr>
					<td class="second-title" >Use your CyPeople Account.</td>
				</tr>
				<tr th:if="${param.error}">
					<td class="notice" >Invalid username and password.</td>
					<!-- <th:block th:text="${#param.removeAttribute('error')}"></th:block> -->
				</tr>
				<tr th:if="${param.logout}">
					<td class="notice-logout">Your have Successfully
						logout.</td>
					<!-- <th:block th:text="${#param.removeAttribute('logout')}"></th:block> -->
				</tr>
				<tr>
					<td class="input-td">
						<label for="email"> Email Id </label>
						<input id="email"
							type="text" name="email" placeholder="Email"
							required>
					</td>
				</tr>
				<tr>
					<td>
						<label for="password"> Password </label>
						<input id="password" class="input" type="password"
								name="password" placeholder="Password" required>
					</td>
				</tr>
				<tr>
					<td>
						<a th:href="@{/registration}"> Create account </a>
						<button type="submit"> Sign In </button>
					</td>
				</tr>
			</table>
		</form>
	</div>
</body>
</html>
