<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title> Sidebar </title>
    <link rel="stylesheet" type="text/css" th:href="@{/CSS/sidebar.css}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>

</head>
<body>
    <!-- Sidepanel -->
    <div class="sidepanel">
      <ul>
        <li>
          	<a href="dashboard"> 
	          	<i style="font-size: 22px" class="fa fa-fw fa-home"></i> 
	          	<span> Dashboard </span>  
          	</a>
        </li>
        <li>
          	<a href="emp-list">
          		<i style="font-size: 22px" class="fa fa-users"></i>
          		<span> Employees </span>
          	</a>
        </li>
        <li>
	       	 <a href="clients-list">
	       	 	<i style="font-size: 22px" class="fa fa-address-card"></i>
	       	 	<span>  Clients  </span>
	       	 </a>
        </li>
        <li>
         	<a href="projects-list"> 
         		<i style="font-size: 22px" class="fa fa-file"></i>
         		<span> Projects </span>  
         	</a>
        </li>
        <!-- 
        <li>
          	<a href="accounts">
          		<i style="font-size: 22px" class="fa fa-credit-card"></i>
          		<span> Accounts </span> 
          	</a>
         -->
        </li>
        <li>
          	<a href="emp-salary"> 
          		<i style="font-size: 22px" class="fa fa-paypal"></i> 
          		<span> PayRoll </span>
          	</a>
        </li>
        <li>
          	<a href="reports"> 
          		<i style="font-size: 22px" class="fa fa-comment"></i>
          		<span> Reports </span>
          	</a>
        </li>
        <li>
          	<a href="setting">
          		<i style="font-size: 22px" class="fa fa-gear"></i>
          		<span> Setting  </span>
          	</a>
        </li>
      </ul>
    </div>
</body>
</html>