<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Employees</title>
	<link rel="stylesheet" type="text/css" th:href="@{/CSS/employees/employees.css}" />
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
</head>
<body>
   <div id="cypeople"></div>
   
   	   <div class="emp-content">
	      <ul>
	        <li><a th:href="@{/emp-list}"> All Employees </a></li>
	        <li><a th:href="@{/emp-leave}"> Leave Requests </a></li>
	        <li><a th:href="@{/emp-attendance-count}"> Attendance </a></li>
	        <li><a th:href="@{/emp-department}"> Department </a></li>
	      </ul>
	   </div>

    <script>
	      $(function() {
	         $("#cypeople").load("http://localhost:8080/cypeople");
	      });
	</script>
</body>
</html>