<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Projects</title>
    <link rel="stylesheet" type="text/css" th:href="@{/CSS/projects/projects.css}" />
      <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
  </head>
  <body>
   <div id="manubar"></div>
   
   <div class="projects-content">
		<ul>
	        <li><a th:href="@{/projects-add}"> Add Projects </a></li>
	        <li><a th:href="@{/projects-list}"> Project List </a></li>
	        <li><a th:href="@{/projects-detail}"> Project Detail </a></li>
	    </ul>
   </div>
   
    <script>
	      $(function() {
	         $("#manubar").load("http://localhost:8080/manubar");
	      });
	</script>
  </body>
</html>